.start-container {
    background: aliceblue;
    color: rgb(19, 19, 19);
    height: 100vh;
    width: 100vw; /* Stretch to full viewport width */
    padding: 2rem;
    margin: 0;

    padding: 2rem;
  }
  
  .start-container img {
    transition: transform 0.3s ease;
  }
  
  .start-container img:hover {
    transform: scale(1.05);
  }
  
  